name: build-verify-package
on:
  push:
    paths-ignore:
      #- '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - '*.md'

jobs:
  build-verify-package:
    runs-on: ubuntu-latest
    environment: Build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Node.js 18.x
        uses: actions/setup-node@v5
        with:
          node-version: 18.x
          cache: 'npm'

      - name: Dependencies installation
        run: npm install

      - name: Run unit tests
        run: npm run test

     # Skip at the moment as it is failing in CI, don't know why...
     #- name: Run e2e tests
     #   run: |
     #     export DEBUG=testcontainers*
     #     npm run test:e2e

      - name: Run e2e tests
        run: |
          npm run test:e2e --runTestsByPath --detectOpenHandles --forceExit test/orders.api.e2e-spec.ts
          npm run test:e2e --runTestsByPath --detectOpenHandles --forceExit test/orders.api.postman.e2e-spec.ts
          npm run test:e2e --runTestsByPath --detectOpenHandles --forceExit test/order.service.e2e-spec.ts
          npm run test:e2e --runTestsByPath --detectOpenHandles --forceExit test/order-event.listener.e2e-spec.ts

      - name: Typescript compilation and Package build
        run: npm run build
